
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.main-div{
    height: 100vh;
    background-color: #1f3359;
    box-shadow: 0 0 200px 10px rgba(0,0,0, 0.9) inset;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;                           
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.button-input {
    padding-bottom: 2px;
    padding-right: 2px;
}

.back-button {
    margin-left: 30px;
}

.button-container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: left;
}

.question-counter{
    color: white
}

.question-div {
    color: white;
    padding-left: 80px;
    padding-right: 80px;
}

.container-container {
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line{
    height: 2px;
    width: 100%;
    background-image: radial-gradient(circle, rgba(2,0,36,2) 0%, rgba(9,9,121,1) 15%, rgba(0,212,255,0) 77%);
    opacity: 0.4;
}

.four-answers {
    margin: 10px;
    background-color: #1f3359;
    border: none;
    box-shadow: 0 0 5px black;
    height: 70px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.skip-button:hover {
    box-shadow: 0 0 10px 3px rgb(255, 142, 49);
    transform: scale(1.03);
    transition: 0.2s;
}

.skip-button {
    margin: 10px;
    background-color: #1f3359;
    border: none;
    box-shadow: 0 0 5px black;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.four-answersCorrect {
    margin: 10px;
    background-color: #1f3359;
    border: none;
    box-shadow: 0 0 10px 3px rgb(255, 32, 32) ;
    height: 70px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}


.four-answers:hover {
    box-shadow: 0 0 10px 3px rgb(255, 142, 49);
    transform: scale(1.03);
    transition: 0.2s;
}

.active{
    margin: 10px;
    background-color: #c17a37;
    border: none;
    box-shadow: 0 0 5px black inset ;
    height: 120px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.answers-container {
    width: 630px;
    height: 200px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fadeOutText {
    animation: myAnim 1s ease 0s 1 normal backwards;
}

@keyframes myAnim {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(50px);
	}
}