.summary-div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;                           
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #1f3359;
    box-shadow: 0 0 200px 10px rgba(0,0,0, 0.9) inset;
    overflow: hidden;                   
}

.title {
    color: white;
    margin: 2px;
}

.all-container{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.element-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.line {
    height: 2px;
    width: 100%;
    background-image: radial-gradient(circle, rgba(2,0,36,2) 0%, rgba(9,9,121,1) 15%, rgba(0,212,255,0) 77%);
    opacity: 0.4;
}

.line-divider {
    height: 2px;
    width: 100%;
    background-color: rgba(9,9,121,1);
    opacity: 0.6;
}

.elements {
    margin: 0px;
    color: white;
}
.score{
    color: white;
}

.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 16s linear infinite;
}

.background li:nth-child(0) {
    left: 63%;
    width: 157px;
    height: 157px;
    bottom: -157px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 82%;
    width: 137px;
    height: 137px;
    bottom: -137px;
    animation-delay: 3s;
}
.background li:nth-child(2) {
    left: 21%;
    width: 166px;
    height: 166px;
    bottom: -166px;
    animation-delay: 6s;
}
.background li:nth-child(3) {
    left: 50%;
    width: 51px;
    height: 51px;
    bottom: -51px;
    animation-delay: 4s;
}
.background li:nth-child(4) {
    left: 66%;
    width: 78px;
    height: 78px;
    bottom: -78px;
    animation-delay: 16s;
}
.background li:nth-child(5) {
    left: 86%;
    width: 84px;
    height: 84px;
    bottom: -84px;
    animation-delay: 1s;
}
.background li:nth-child(6) {
    left: 61%;
    width: 170px;
    height: 170px;
    bottom: -170px;
    animation-delay: 18s;
}
.background li:nth-child(7) {
    left: 7%;
    width: 140px;
    height: 140px;
    bottom: -140px;
    animation-delay: 25s;
}
.background li:nth-child(8) {
    left: 87%;
    width: 183px;
    height: 183px;
    bottom: -183px;
    animation-delay: 8s;
}
.background li:nth-child(9) {
    left: 64%;
    width: 100px;
    height: 100px;
    bottom: -100px;
    animation-delay: 37s;
}
.background li:nth-child(10) {
    left: 69%;
    width: 155px;
    height: 155px;
    bottom: -155px;
    animation-delay: 3s;
}
.background li:nth-child(11) {
    left: 50%;
    width: 92px;
    height: 92px;
    bottom: -92px;
    animation-delay: 55s;
}
.background li:nth-child(12) {
    left: 69%;
    width: 137px;
    height: 137px;
    bottom: -137px;
    animation-delay: 40s;
}
.background li:nth-child(13) {
    left: 33%;
    width: 69px;
    height: 69px;
    bottom: -69px;
    animation-delay: 62s;
}
.background li:nth-child(14) {
    left: 86%;
    width: 51px;
    height: 51px;
    bottom: -51px;
    animation-delay: 48s;
}