.option-section{
    display: flex;
    gap: 10px;

}
.mantine-Select-value{
    color: green;
    background-color: orange;
}
.mantine-Select-input{
    color: white;
    background-color: #11377e;
    border: none;
    box-shadow: 0 0 5px black inset ;
}
.mantine-Select-label{
    color: white
}
